.row {
	&.row--full-width {
		max-width: 100%;

		>div:first-child,
		>div:last-child {
			padding-left: 0;
			padding-right: 0;
		}

		.row {
			margin: 0;
		}
	}
}

.content {
	margin-top: 1rem;
}

.panel {

	h5 {
		height: 36px;
		overflow: hidden;
	}

	.ticket-description {
		height: 50px;
		overflow: hidden;
	}

} 

#div_id_assignees {
	margin-bottom: 20px;
}